@model Code9.FoodOrders.Web.Models.OrderViewModel

@{
	ViewBag.Title = "OrdersList";
	Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<section id="login-page" data-transition="slidedown" data-role="dialog">
	<header data-role="header"  data-position="fixed" data-theme="e">
		<h1>Order complete</h1>
	</header>
	
	<div id="CurrentOrderDiv" data-role="content" data-theme="e">
			<fieldset data-role="fieldcontain">
				<legend>
					<h1>Order Date: @Model.OrderDate.ToShortDateString()</h1>
				</legend>
				<ul data-role="listview">
					@foreach (var food in Model.FoodNames)
					{
						<li>@food</li>
					}
				</ul>
			</fieldset>
	</div>
</section>