<footer data-role="footer" data-position="fixed" >
	<nav data-role="navbar">
		<ul>
			<li>@Html.ActionLink("Foods", "Index", "Food")</li>
			<li>@Html.ActionLink("History", "Index", "Order")</li>
			<li>@Html.ActionLink("Orders", "CurrentOrder", "Order")</li>
		</ul>
	</nav>
</footer>
